	
[submodule "controllerProto"]
	path = controllerProto
	url = git@github.com:Dimandragon/smart-glove-proto.git
[submodule "grpcProto"]
	path = grpcProto
	url = git@github.com:hrisancho/smart-glove-grpc.git
